<div class="flex flex-col space-y-4 size-full pb-12">
  <%= form_with class:"flex flex-col space-y-4", model: @decision do |form| %>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
    
    <%= form.label :date, "Date of decision" %>
    <%= form.date_field :date %>

    <%= form.label :status, "Status" %>
    <%= form.select :status, options_for_select(Decision.statuses.map { |status| [status[0].capitalize, status[0]]}) %>


    <%= form.label :content, "Context" %>
    <%= form.rich_textarea :content %>

    <div class="flex space-x-4">
      <%= form.submit "Create", class: "rounded-xl shadow-lg bg-green-500 text-white font-bold py-3 px-6 cursor-pointer" %>

      <%= link_to "Cancel", decisions_path, class: "rounded-xl shadow-lg bg-slate-200 py-3 px-6" %>
    </div>
  <% end %>
</div>
